.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;

  span {
    transition: 300ms ease;
    opacity: 0;
    transform: scale(0);
    position: absolute;
    border-radius: 50%;
  }
}
