@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(45deg, #8e8d89, #e88073, #e85a50, #d8c3a4);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  color: #202020;
}

.chats .container {
  margin: 2rem 0;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #c1c8e4;
  border-top: 1px solid #c1c8e4;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 2rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chats .container nav {
  margin-bottom: 3rem;
}

.chats .container .chat {
  padding: 1rem;
  margin: 0.5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  border-left: 1px solid #c1c8e4;
  border-top: 1px solid #c1c8e4;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.chats .container .chat .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chats .container .chat .bottom button,
.chats .container .chat .bottom a {
  background: none;
  border: none;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin: 0 0.25rem;
}

.chats .container .chat .bottom .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chats .container .chat .bottom .likes button {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #202020;
  opacity: 0.7;
  background: none;
}

.chats .container .chat .bottom .likes button:focus {
  opacity: 1;
}

.chats .container .chat .comment {
  display: none;
  margin-top: 1rem;
  padding-left: 1rem;
}

.chats .container .chat .comment.comment-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=chats.css.map */