.container {
  position: relative;
  width: calc(100vw - 400px);
  margin: 0 200px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(100vw - 200px);
    margin: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100vw - 100px);
    margin: 0 50px;
  }
}

@media screen and (max-width: 525px) {
  .container {
    width: calc(100vw - 1rem);
    margin: 0 0.5rem;
  }
}

.p-1 {
  font-weight: 300;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .p-1 {
    font-size: 1rem;
  }
}

.h-1 {
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .h-1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 525px) {
  .h-1 {
    font-size: 1.75rem;
  }
}

.h-2 {
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .h-2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 525px) {
  .h-2 {
    font-size: 1rem;
  }
}

.background-circle {
  background: #c1c8e4;
  -webkit-animation: 3s scale linear;
          animation: 3s scale linear;
  opacity: 1;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

@-webkit-keyframes scale {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(5) translateY(-200%);
            transform: scale(5) translateY(-200%);
  }
}

@keyframes scale {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(5) translateY(-200%);
            transform: scale(5) translateY(-200%);
  }
}

.content-disable {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.content-disable-2 {
  opacity: 0;
}

.content {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

::-webkit-scrollbar {
  width: 0.25rem;
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.social a {
  color: #101010;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-left: 1px solid #c1c8e4;
  border-top: 1px solid #c1c8e4;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 1.25rem;
  margin: 0.25rem 0;
}

.social a:hover {
  padding: 0.5rem 0.75rem;
}
/*# sourceMappingURL=classes.css.map */