$blue-1: #5680e9;
$blue-2: #84ceeb;
$blue-3: #5ab9ea;
$light-1: #c1c8e4;
$light-2: rgba(255, 255, 255, 0.1);
$purple: #8860d0;
$dark: #101010;

.container {
  width: calc(100vw - 400px);
  margin: 0 200px;

  @media screen and(max-width: 1024px) {
    width: calc(100vw - 200px);
    margin: 0 100px;
  }
  @media screen and(max-width: 768px) {
    width: calc(100vw - 100px);
    margin: 0 50px;
  }
  @media screen and(max-width: 525px) {
    width: calc(100vw - 1rem);
    margin: 0 0.5rem;
  }
}

.p-1 {
  font-weight: 300;
  font-size: 1.25rem;
  padding-bottom: 1rem;

  @media screen and(max-width: 768px) {
    font-size: 1rem;
  }
}

.h-1 {
  font-size: 2.5rem;
  font-weight: 700;

  @media screen and(max-width: 768px) {
    font-size: 2rem;
  }
  @media screen and(max-width: 525px) {
    font-size: 1.75rem;
  }
}

.h-2 {
  font-size: 1.5rem;
  font-weight: 700;

  @media screen and(max-width: 768px) {
    font-size: 1.25rem;
  }
  @media screen and(max-width: 525px) {
    font-size: 1rem;
  }
}

.background-circle {
  background: $light-1;
  animation: 3s scale linear;
  opacity: 1;
  transition: 300ms ease;
}

@keyframes scale {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(5) translateY(-200%);
  }
}
