@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo h2 {
  z-index: 101;
  -webkit-transition: 500ms;
  transition: 500ms;
}

nav .logo img {
  width: 4rem;
  padding-right: 0.25rem;
}

nav .hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 101;
}

nav .hamburger div {
  width: 1.5rem;
  height: 2px;
  background: #202020;
  margin: 0.2rem;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

@media screen and (max-width: 768px) {
  nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .hamburger.hamburger-active .line-1 {
  -webkit-transform: rotate(45deg) translateY(8px) translateX(4px);
          transform: rotate(45deg) translateY(8px) translateX(4px);
}

nav .hamburger.hamburger-active .line-2 {
  opacity: 0;
}

nav .hamburger.hamburger-active .line-3 {
  -webkit-transform: rotate(-45deg) translateY(-8px) translateX(4px);
          transform: rotate(-45deg) translateY(-8px) translateX(4px);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  background: rgba(255, 255, 255, 0.15);
  border-left: 1px solid #c1c8e4;
  border-top: 1px solid #c1c8e4;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

nav ul li {
  margin: 0 0.5rem;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  padding: 0.25rem 1rem;
  -webkit-box-shadow: inset 2px -2px 5px rgba(255, 255, 255, 0.05);
          box-shadow: inset 2px -2px 5px rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  color: #202020;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

nav ul li a.active, nav ul li a:hover {
  background: #dbdbdb;
  -webkit-box-shadow: 2px -2px 5px rgba(255, 255, 255, 0.05);
          box-shadow: 2px -2px 5px rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 2rem;
    left: 100%;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    opacity: 0;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50% 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  nav ul li {
    margin: 0.5rem 0;
  }
}

nav ul.list-active {
  opacity: 1;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
/*# sourceMappingURL=navbar.css.map */